<h1> Evaluation Sessions </h1>
<table>
  <thead>
    <tr>
      <th> Name </th>
      <th> Description </th>
      <th> Item type </th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |s| %>
    <tr>
      <td><%= link_to s.name, session_path(s) %></td>
      <td><%= s.description %> </td>
      <td><%= s.item_type %> </td>
    </tr>
    <br>
    <% end %>
  </tbody>
</table>

<%= link_to "Create new evaluation session", new_session_path, class: 'button' %>
